spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:jgitkins;MODE=MYSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password: 
  h2:
    console:
      enabled: true
      path: /h2-console
  sql:
    init:
      mode: always
      schema-locations: classpath:db/schema-h2.sql

mybatis:
  configuration:
    map-underscore-to-camel-case: true
