<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.jgitkins.server.infrastructure.persistence.mapper.JobHistoryEntityMbgMapper">
  <resultMap id="BaseResultMap" type="io.jgitkins.server.infrastructure.persistence.model.JobHistoryEntity">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="JOB_ID" jdbcType="BIGINT" property="jobId" />
    <result column="RUNNER_ID" jdbcType="BIGINT" property="runnerId" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="LOG_PATH" jdbcType="VARCHAR" property="logPath" />
    <result column="STARTED_AT" jdbcType="TIMESTAMP" property="startedAt" />
    <result column="FINISHED_AT" jdbcType="TIMESTAMP" property="finishedAt" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
  </resultMap>
  <sql id="Condition_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Condition_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, JOB_ID, RUNNER_ID, STATUS, LOG_PATH, STARTED_AT, FINISHED_AT, CREATED_AT
  </sql>
  <select id="selectByCondition" parameterType="io.jgitkins.server.infrastructure.persistence.model.JobHistoryEntityCondition" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from JOB_HISTORY
    <if test="_parameter != null">
      <include refid="Condition_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from JOB_HISTORY
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from JOB_HISTORY
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByCondition" parameterType="io.jgitkins.server.infrastructure.persistence.model.JobHistoryEntityCondition">
    delete from JOB_HISTORY
    <if test="_parameter != null">
      <include refid="Condition_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="io.jgitkins.server.infrastructure.persistence.model.JobHistoryEntity" useGeneratedKeys="true">
    insert into JOB_HISTORY (JOB_ID, RUNNER_ID, STATUS, 
      LOG_PATH, STARTED_AT, FINISHED_AT, 
      CREATED_AT)
    values (#{jobId,jdbcType=BIGINT}, #{runnerId,jdbcType=BIGINT}, #{status,jdbcType=VARCHAR}, 
      #{logPath,jdbcType=VARCHAR}, #{startedAt,jdbcType=TIMESTAMP}, #{finishedAt,jdbcType=TIMESTAMP}, 
      #{createdAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="io.jgitkins.server.infrastructure.persistence.model.JobHistoryEntity" useGeneratedKeys="true">
    insert into JOB_HISTORY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="jobId != null">
        JOB_ID,
      </if>
      <if test="runnerId != null">
        RUNNER_ID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="logPath != null">
        LOG_PATH,
      </if>
      <if test="startedAt != null">
        STARTED_AT,
      </if>
      <if test="finishedAt != null">
        FINISHED_AT,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="jobId != null">
        #{jobId,jdbcType=BIGINT},
      </if>
      <if test="runnerId != null">
        #{runnerId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="logPath != null">
        #{logPath,jdbcType=VARCHAR},
      </if>
      <if test="startedAt != null">
        #{startedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="finishedAt != null">
        #{finishedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByCondition" parameterType="io.jgitkins.server.infrastructure.persistence.model.JobHistoryEntityCondition" resultType="java.lang.Long">
    select count(*) from JOB_HISTORY
    <if test="_parameter != null">
      <include refid="Condition_Where_Clause" />
    </if>
  </select>
  <update id="updateByConditionSelective" parameterType="map">
    update JOB_HISTORY
    <set>
      <if test="row.id != null">
        ID = #{row.id,jdbcType=BIGINT},
      </if>
      <if test="row.jobId != null">
        JOB_ID = #{row.jobId,jdbcType=BIGINT},
      </if>
      <if test="row.runnerId != null">
        RUNNER_ID = #{row.runnerId,jdbcType=BIGINT},
      </if>
      <if test="row.status != null">
        STATUS = #{row.status,jdbcType=VARCHAR},
      </if>
      <if test="row.logPath != null">
        LOG_PATH = #{row.logPath,jdbcType=VARCHAR},
      </if>
      <if test="row.startedAt != null">
        STARTED_AT = #{row.startedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="row.finishedAt != null">
        FINISHED_AT = #{row.finishedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="row.createdAt != null">
        CREATED_AT = #{row.createdAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Condition_Where_Clause" />
    </if>
  </update>
  <update id="updateByCondition" parameterType="map">
    update JOB_HISTORY
    set ID = #{row.id,jdbcType=BIGINT},
      JOB_ID = #{row.jobId,jdbcType=BIGINT},
      RUNNER_ID = #{row.runnerId,jdbcType=BIGINT},
      STATUS = #{row.status,jdbcType=VARCHAR},
      LOG_PATH = #{row.logPath,jdbcType=VARCHAR},
      STARTED_AT = #{row.startedAt,jdbcType=TIMESTAMP},
      FINISHED_AT = #{row.finishedAt,jdbcType=TIMESTAMP},
      CREATED_AT = #{row.createdAt,jdbcType=TIMESTAMP}
    <if test="example != null">
      <include refid="Update_By_Condition_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="io.jgitkins.server.infrastructure.persistence.model.JobHistoryEntity">
    update JOB_HISTORY
    <set>
      <if test="jobId != null">
        JOB_ID = #{jobId,jdbcType=BIGINT},
      </if>
      <if test="runnerId != null">
        RUNNER_ID = #{runnerId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="logPath != null">
        LOG_PATH = #{logPath,jdbcType=VARCHAR},
      </if>
      <if test="startedAt != null">
        STARTED_AT = #{startedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="finishedAt != null">
        FINISHED_AT = #{finishedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.jgitkins.server.infrastructure.persistence.model.JobHistoryEntity">
    update JOB_HISTORY
    set JOB_ID = #{jobId,jdbcType=BIGINT},
      RUNNER_ID = #{runnerId,jdbcType=BIGINT},
      STATUS = #{status,jdbcType=VARCHAR},
      LOG_PATH = #{logPath,jdbcType=VARCHAR},
      STARTED_AT = #{startedAt,jdbcType=TIMESTAMP},
      FINISHED_AT = #{finishedAt,jdbcType=TIMESTAMP},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>