<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.jgitkins.server.infrastructure.persistence.mapper.OrganizeEntityMbgMapper">
  <resultMap id="BaseResultMap" type="io.jgitkins.server.infrastructure.persistence.model.OrganizeEntity">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="OWNER_ID" jdbcType="BIGINT" property="ownerId" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="io.jgitkins.server.infrastructure.persistence.model.OrganizeEntity">
    <result column="DESCRIPTION" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <sql id="Condition_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Condition_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, NAME, PATH, OWNER_ID, CREATED_AT, UPDATED_AT
  </sql>
  <sql id="Blob_Column_List">
    DESCRIPTION
  </sql>
  <select id="selectByConditionWithBLOBs" parameterType="io.jgitkins.server.infrastructure.persistence.model.OrganizeEntityCondition" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from organize
    <if test="_parameter != null">
      <include refid="Condition_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByCondition" parameterType="io.jgitkins.server.infrastructure.persistence.model.OrganizeEntityCondition" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from organize
    <if test="_parameter != null">
      <include refid="Condition_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from organize
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from organize
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByCondition" parameterType="io.jgitkins.server.infrastructure.persistence.model.OrganizeEntityCondition">
    delete from organize
    <if test="_parameter != null">
      <include refid="Condition_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="io.jgitkins.server.infrastructure.persistence.model.OrganizeEntity" useGeneratedKeys="true">
    insert into organize (NAME, PATH, OWNER_ID, 
      CREATED_AT, UPDATED_AT, DESCRIPTION
      )
    values (#{name,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{ownerId,jdbcType=BIGINT}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="io.jgitkins.server.infrastructure.persistence.model.OrganizeEntity" useGeneratedKeys="true">
    insert into organize
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        NAME,
      </if>
      <if test="path != null">
        PATH,
      </if>
      <if test="ownerId != null">
        OWNER_ID,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        #{ownerId,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByCondition" parameterType="io.jgitkins.server.infrastructure.persistence.model.OrganizeEntityCondition" resultType="java.lang.Long">
    select count(*) from organize
    <if test="_parameter != null">
      <include refid="Condition_Where_Clause" />
    </if>
  </select>
  <update id="updateByConditionSelective" parameterType="map">
    update organize
    <set>
      <if test="row.id != null">
        ID = #{row.id,jdbcType=BIGINT},
      </if>
      <if test="row.name != null">
        NAME = #{row.name,jdbcType=VARCHAR},
      </if>
      <if test="row.path != null">
        PATH = #{row.path,jdbcType=VARCHAR},
      </if>
      <if test="row.ownerId != null">
        OWNER_ID = #{row.ownerId,jdbcType=BIGINT},
      </if>
      <if test="row.createdAt != null">
        CREATED_AT = #{row.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="row.updatedAt != null">
        UPDATED_AT = #{row.updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="row.description != null">
        DESCRIPTION = #{row.description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Condition_Where_Clause" />
    </if>
  </update>
  <update id="updateByConditionWithBLOBs" parameterType="map">
    update organize
    set ID = #{row.id,jdbcType=BIGINT},
      NAME = #{row.name,jdbcType=VARCHAR},
      PATH = #{row.path,jdbcType=VARCHAR},
      OWNER_ID = #{row.ownerId,jdbcType=BIGINT},
      CREATED_AT = #{row.createdAt,jdbcType=TIMESTAMP},
      UPDATED_AT = #{row.updatedAt,jdbcType=TIMESTAMP},
      DESCRIPTION = #{row.description,jdbcType=LONGVARCHAR}
    <if test="example != null">
      <include refid="Update_By_Condition_Where_Clause" />
    </if>
  </update>
  <update id="updateByCondition" parameterType="map">
    update organize
    set ID = #{row.id,jdbcType=BIGINT},
      NAME = #{row.name,jdbcType=VARCHAR},
      PATH = #{row.path,jdbcType=VARCHAR},
      OWNER_ID = #{row.ownerId,jdbcType=BIGINT},
      CREATED_AT = #{row.createdAt,jdbcType=TIMESTAMP},
      UPDATED_AT = #{row.updatedAt,jdbcType=TIMESTAMP}
    <if test="example != null">
      <include refid="Update_By_Condition_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="io.jgitkins.server.infrastructure.persistence.model.OrganizeEntity">
    update organize
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        PATH = #{path,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        OWNER_ID = #{ownerId,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="io.jgitkins.server.infrastructure.persistence.model.OrganizeEntity">
    update organize
    set NAME = #{name,jdbcType=VARCHAR},
      PATH = #{path,jdbcType=VARCHAR},
      OWNER_ID = #{ownerId,jdbcType=BIGINT},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      DESCRIPTION = #{description,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.jgitkins.server.infrastructure.persistence.model.OrganizeEntity">
    update organize
    set NAME = #{name,jdbcType=VARCHAR},
      PATH = #{path,jdbcType=VARCHAR},
      OWNER_ID = #{ownerId,jdbcType=BIGINT},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>