<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.jgitkins.server.infrastructure.persistence.mapper.RepositoryEntityMbgMapper">
  <resultMap id="BaseResultMap" type="io.jgitkins.server.infrastructure.persistence.model.RepositoryEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="organize_id" jdbcType="BIGINT" property="organizeId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="repository_type" jdbcType="VARCHAR" property="repositoryType" />
    <result column="owner_id" jdbcType="BIGINT" property="ownerId" />
    <result column="credential_id" jdbcType="VARCHAR" property="credentialId" />
    <result column="clone_path" jdbcType="VARCHAR" property="clonePath" />
    <result column="default_branch" jdbcType="VARCHAR" property="defaultBranch" />
    <result column="visibility" jdbcType="VARCHAR" property="visibility" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="last_synced_at" jdbcType="TIMESTAMP" property="lastSyncedAt" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="io.jgitkins.server.infrastructure.persistence.model.RepositoryEntity">
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <sql id="Condition_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Condition_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, organize_id, name, path, repository_type, owner_id, credential_id, clone_path, 
    default_branch, visibility, status, last_synced_at, created_at, updated_at
  </sql>
  <sql id="Blob_Column_List">
    description
  </sql>
  <select id="selectByConditionWithBLOBs" parameterType="io.jgitkins.server.infrastructure.persistence.model.RepositoryEntityCondition" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from repository
    <if test="_parameter != null">
      <include refid="Condition_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByCondition" parameterType="io.jgitkins.server.infrastructure.persistence.model.RepositoryEntityCondition" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from repository
    <if test="_parameter != null">
      <include refid="Condition_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from repository
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from repository
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByCondition" parameterType="io.jgitkins.server.infrastructure.persistence.model.RepositoryEntityCondition">
    delete from repository
    <if test="_parameter != null">
      <include refid="Condition_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="io.jgitkins.server.infrastructure.persistence.model.RepositoryEntity" useGeneratedKeys="true">
    insert into repository (organize_id, name, path, 
      repository_type, owner_id, credential_id, 
      clone_path, default_branch, visibility, 
      status, last_synced_at, created_at, 
      updated_at, description)
    values (#{organizeId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, 
      #{repositoryType,jdbcType=VARCHAR}, #{ownerId,jdbcType=BIGINT}, #{credentialId,jdbcType=VARCHAR}, 
      #{clonePath,jdbcType=VARCHAR}, #{defaultBranch,jdbcType=VARCHAR}, #{visibility,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{lastSyncedAt,jdbcType=TIMESTAMP}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{description,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="io.jgitkins.server.infrastructure.persistence.model.RepositoryEntity" useGeneratedKeys="true">
    insert into repository
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="organizeId != null">
        organize_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="path != null">
        path,
      </if>
      <if test="repositoryType != null">
        repository_type,
      </if>
      <if test="ownerId != null">
        owner_id,
      </if>
      <if test="credentialId != null">
        credential_id,
      </if>
      <if test="clonePath != null">
        clone_path,
      </if>
      <if test="defaultBranch != null">
        default_branch,
      </if>
      <if test="visibility != null">
        visibility,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="lastSyncedAt != null">
        last_synced_at,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="organizeId != null">
        #{organizeId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="repositoryType != null">
        #{repositoryType,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        #{ownerId,jdbcType=BIGINT},
      </if>
      <if test="credentialId != null">
        #{credentialId,jdbcType=VARCHAR},
      </if>
      <if test="clonePath != null">
        #{clonePath,jdbcType=VARCHAR},
      </if>
      <if test="defaultBranch != null">
        #{defaultBranch,jdbcType=VARCHAR},
      </if>
      <if test="visibility != null">
        #{visibility,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="lastSyncedAt != null">
        #{lastSyncedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByCondition" parameterType="io.jgitkins.server.infrastructure.persistence.model.RepositoryEntityCondition" resultType="java.lang.Long">
    select count(*) from repository
    <if test="_parameter != null">
      <include refid="Condition_Where_Clause" />
    </if>
  </select>
  <update id="updateByConditionSelective" parameterType="map">
    update repository
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=BIGINT},
      </if>
      <if test="row.organizeId != null">
        organize_id = #{row.organizeId,jdbcType=BIGINT},
      </if>
      <if test="row.name != null">
        name = #{row.name,jdbcType=VARCHAR},
      </if>
      <if test="row.path != null">
        path = #{row.path,jdbcType=VARCHAR},
      </if>
      <if test="row.repositoryType != null">
        repository_type = #{row.repositoryType,jdbcType=VARCHAR},
      </if>
      <if test="row.ownerId != null">
        owner_id = #{row.ownerId,jdbcType=BIGINT},
      </if>
      <if test="row.credentialId != null">
        credential_id = #{row.credentialId,jdbcType=VARCHAR},
      </if>
      <if test="row.clonePath != null">
        clone_path = #{row.clonePath,jdbcType=VARCHAR},
      </if>
      <if test="row.defaultBranch != null">
        default_branch = #{row.defaultBranch,jdbcType=VARCHAR},
      </if>
      <if test="row.visibility != null">
        visibility = #{row.visibility,jdbcType=VARCHAR},
      </if>
      <if test="row.status != null">
        status = #{row.status,jdbcType=VARCHAR},
      </if>
      <if test="row.lastSyncedAt != null">
        last_synced_at = #{row.lastSyncedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="row.createdAt != null">
        created_at = #{row.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="row.updatedAt != null">
        updated_at = #{row.updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="row.description != null">
        description = #{row.description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Condition_Where_Clause" />
    </if>
  </update>
  <update id="updateByConditionWithBLOBs" parameterType="map">
    update repository
    set id = #{row.id,jdbcType=BIGINT},
      organize_id = #{row.organizeId,jdbcType=BIGINT},
      name = #{row.name,jdbcType=VARCHAR},
      path = #{row.path,jdbcType=VARCHAR},
      repository_type = #{row.repositoryType,jdbcType=VARCHAR},
      owner_id = #{row.ownerId,jdbcType=BIGINT},
      credential_id = #{row.credentialId,jdbcType=VARCHAR},
      clone_path = #{row.clonePath,jdbcType=VARCHAR},
      default_branch = #{row.defaultBranch,jdbcType=VARCHAR},
      visibility = #{row.visibility,jdbcType=VARCHAR},
      status = #{row.status,jdbcType=VARCHAR},
      last_synced_at = #{row.lastSyncedAt,jdbcType=TIMESTAMP},
      created_at = #{row.createdAt,jdbcType=TIMESTAMP},
      updated_at = #{row.updatedAt,jdbcType=TIMESTAMP},
      description = #{row.description,jdbcType=LONGVARCHAR}
    <if test="example != null">
      <include refid="Update_By_Condition_Where_Clause" />
    </if>
  </update>
  <update id="updateByCondition" parameterType="map">
    update repository
    set id = #{row.id,jdbcType=BIGINT},
      organize_id = #{row.organizeId,jdbcType=BIGINT},
      name = #{row.name,jdbcType=VARCHAR},
      path = #{row.path,jdbcType=VARCHAR},
      repository_type = #{row.repositoryType,jdbcType=VARCHAR},
      owner_id = #{row.ownerId,jdbcType=BIGINT},
      credential_id = #{row.credentialId,jdbcType=VARCHAR},
      clone_path = #{row.clonePath,jdbcType=VARCHAR},
      default_branch = #{row.defaultBranch,jdbcType=VARCHAR},
      visibility = #{row.visibility,jdbcType=VARCHAR},
      status = #{row.status,jdbcType=VARCHAR},
      last_synced_at = #{row.lastSyncedAt,jdbcType=TIMESTAMP},
      created_at = #{row.createdAt,jdbcType=TIMESTAMP},
      updated_at = #{row.updatedAt,jdbcType=TIMESTAMP}
    <if test="example != null">
      <include refid="Update_By_Condition_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="io.jgitkins.server.infrastructure.persistence.model.RepositoryEntity">
    update repository
    <set>
      <if test="organizeId != null">
        organize_id = #{organizeId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="repositoryType != null">
        repository_type = #{repositoryType,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        owner_id = #{ownerId,jdbcType=BIGINT},
      </if>
      <if test="credentialId != null">
        credential_id = #{credentialId,jdbcType=VARCHAR},
      </if>
      <if test="clonePath != null">
        clone_path = #{clonePath,jdbcType=VARCHAR},
      </if>
      <if test="defaultBranch != null">
        default_branch = #{defaultBranch,jdbcType=VARCHAR},
      </if>
      <if test="visibility != null">
        visibility = #{visibility,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="lastSyncedAt != null">
        last_synced_at = #{lastSyncedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="io.jgitkins.server.infrastructure.persistence.model.RepositoryEntity">
    update repository
    set organize_id = #{organizeId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      repository_type = #{repositoryType,jdbcType=VARCHAR},
      owner_id = #{ownerId,jdbcType=BIGINT},
      credential_id = #{credentialId,jdbcType=VARCHAR},
      clone_path = #{clonePath,jdbcType=VARCHAR},
      default_branch = #{defaultBranch,jdbcType=VARCHAR},
      visibility = #{visibility,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      last_synced_at = #{lastSyncedAt,jdbcType=TIMESTAMP},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.jgitkins.server.infrastructure.persistence.model.RepositoryEntity">
    update repository
    set organize_id = #{organizeId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      repository_type = #{repositoryType,jdbcType=VARCHAR},
      owner_id = #{ownerId,jdbcType=BIGINT},
      credential_id = #{credentialId,jdbcType=VARCHAR},
      clone_path = #{clonePath,jdbcType=VARCHAR},
      default_branch = #{defaultBranch,jdbcType=VARCHAR},
      visibility = #{visibility,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      last_synced_at = #{lastSyncedAt,jdbcType=TIMESTAMP},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>