<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.jgitkins.server.infrastructure.persistence.mapper.RepositoryMemberEntityMbgMapper">
  <resultMap id="BaseResultMap" type="io.jgitkins.server.infrastructure.persistence.model.RepositoryMemberEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="repository_id" jdbcType="BIGINT" property="repositoryId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="added_at" jdbcType="TIMESTAMP" property="addedAt" />
  </resultMap>
  <sql id="Condition_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Condition_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, repository_id, user_id, role, added_at
  </sql>
  <select id="selectByCondition" parameterType="io.jgitkins.server.infrastructure.persistence.model.RepositoryMemberEntityCondition" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from REPOSITORY_MEMBER
    <if test="_parameter != null">
      <include refid="Condition_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from REPOSITORY_MEMBER
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from REPOSITORY_MEMBER
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByCondition" parameterType="io.jgitkins.server.infrastructure.persistence.model.RepositoryMemberEntityCondition">
    delete from REPOSITORY_MEMBER
    <if test="_parameter != null">
      <include refid="Condition_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="io.jgitkins.server.infrastructure.persistence.model.RepositoryMemberEntity" useGeneratedKeys="true">
    insert into REPOSITORY_MEMBER (repository_id, user_id, role, 
      added_at)
    values (#{repositoryId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{role,jdbcType=VARCHAR}, 
      #{addedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="io.jgitkins.server.infrastructure.persistence.model.RepositoryMemberEntity" useGeneratedKeys="true">
    insert into REPOSITORY_MEMBER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="repositoryId != null">
        repository_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="role != null">
        role,
      </if>
      <if test="addedAt != null">
        added_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="repositoryId != null">
        #{repositoryId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="role != null">
        #{role,jdbcType=VARCHAR},
      </if>
      <if test="addedAt != null">
        #{addedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByCondition" parameterType="io.jgitkins.server.infrastructure.persistence.model.RepositoryMemberEntityCondition" resultType="java.lang.Long">
    select count(*) from REPOSITORY_MEMBER
    <if test="_parameter != null">
      <include refid="Condition_Where_Clause" />
    </if>
  </select>
  <update id="updateByConditionSelective" parameterType="map">
    update REPOSITORY_MEMBER
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=BIGINT},
      </if>
      <if test="row.repositoryId != null">
        repository_id = #{row.repositoryId,jdbcType=BIGINT},
      </if>
      <if test="row.userId != null">
        user_id = #{row.userId,jdbcType=BIGINT},
      </if>
      <if test="row.role != null">
        role = #{row.role,jdbcType=VARCHAR},
      </if>
      <if test="row.addedAt != null">
        added_at = #{row.addedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Condition_Where_Clause" />
    </if>
  </update>
  <update id="updateByCondition" parameterType="map">
    update REPOSITORY_MEMBER
    set id = #{row.id,jdbcType=BIGINT},
      repository_id = #{row.repositoryId,jdbcType=BIGINT},
      user_id = #{row.userId,jdbcType=BIGINT},
      role = #{row.role,jdbcType=VARCHAR},
      added_at = #{row.addedAt,jdbcType=TIMESTAMP}
    <if test="example != null">
      <include refid="Update_By_Condition_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="io.jgitkins.server.infrastructure.persistence.model.RepositoryMemberEntity">
    update REPOSITORY_MEMBER
    <set>
      <if test="repositoryId != null">
        repository_id = #{repositoryId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="role != null">
        role = #{role,jdbcType=VARCHAR},
      </if>
      <if test="addedAt != null">
        added_at = #{addedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.jgitkins.server.infrastructure.persistence.model.RepositoryMemberEntity">
    update REPOSITORY_MEMBER
    set repository_id = #{repositoryId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      role = #{role,jdbcType=VARCHAR},
      added_at = #{addedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>