<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.jgitkins.server.infrastructure.persistence.mapper.RunnerEntityMbgMapper">
  <resultMap id="BaseResultMap" type="io.jgitkins.server.infrastructure.persistence.model.RunnerEntity">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="TOKEN" jdbcType="VARCHAR" property="token" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="IP_ADDRESS" jdbcType="VARCHAR" property="ipAddress" />
    <result column="LAST_HEARTBEAT_AT" jdbcType="TIMESTAMP" property="lastHeartbeatAt" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
  </resultMap>
  <sql id="Condition_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Condition_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, TOKEN, DESCRIPTION, STATUS, IP_ADDRESS, LAST_HEARTBEAT_AT, CREATED_AT
  </sql>
  <select id="selectByCondition" parameterType="io.jgitkins.server.infrastructure.persistence.model.RunnerEntityCondition" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from runner
    <if test="_parameter != null">
      <include refid="Condition_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from runner
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from runner
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByCondition" parameterType="io.jgitkins.server.infrastructure.persistence.model.RunnerEntityCondition">
    delete from runner
    <if test="_parameter != null">
      <include refid="Condition_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="io.jgitkins.server.infrastructure.persistence.model.RunnerEntity" useGeneratedKeys="true">
    insert into runner (TOKEN, DESCRIPTION, STATUS, 
      IP_ADDRESS, LAST_HEARTBEAT_AT, CREATED_AT
      )
    values (#{token,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{ipAddress,jdbcType=VARCHAR}, #{lastHeartbeatAt,jdbcType=TIMESTAMP}, #{createdAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="io.jgitkins.server.infrastructure.persistence.model.RunnerEntity" useGeneratedKeys="true">
    insert into runner
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="token != null">
        TOKEN,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="ipAddress != null">
        IP_ADDRESS,
      </if>
      <if test="lastHeartbeatAt != null">
        LAST_HEARTBEAT_AT,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null">
        #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="lastHeartbeatAt != null">
        #{lastHeartbeatAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByCondition" parameterType="io.jgitkins.server.infrastructure.persistence.model.RunnerEntityCondition" resultType="java.lang.Long">
    select count(*) from runner
    <if test="_parameter != null">
      <include refid="Condition_Where_Clause" />
    </if>
  </select>
  <update id="updateByConditionSelective" parameterType="map">
    update runner
    <set>
      <if test="row.id != null">
        ID = #{row.id,jdbcType=BIGINT},
      </if>
      <if test="row.token != null">
        TOKEN = #{row.token,jdbcType=VARCHAR},
      </if>
      <if test="row.description != null">
        DESCRIPTION = #{row.description,jdbcType=VARCHAR},
      </if>
      <if test="row.status != null">
        STATUS = #{row.status,jdbcType=VARCHAR},
      </if>
      <if test="row.ipAddress != null">
        IP_ADDRESS = #{row.ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="row.lastHeartbeatAt != null">
        LAST_HEARTBEAT_AT = #{row.lastHeartbeatAt,jdbcType=TIMESTAMP},
      </if>
      <if test="row.createdAt != null">
        CREATED_AT = #{row.createdAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Condition_Where_Clause" />
    </if>
  </update>
  <update id="updateByCondition" parameterType="map">
    update runner
    set ID = #{row.id,jdbcType=BIGINT},
      TOKEN = #{row.token,jdbcType=VARCHAR},
      DESCRIPTION = #{row.description,jdbcType=VARCHAR},
      STATUS = #{row.status,jdbcType=VARCHAR},
      IP_ADDRESS = #{row.ipAddress,jdbcType=VARCHAR},
      LAST_HEARTBEAT_AT = #{row.lastHeartbeatAt,jdbcType=TIMESTAMP},
      CREATED_AT = #{row.createdAt,jdbcType=TIMESTAMP}
    <if test="example != null">
      <include refid="Update_By_Condition_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="io.jgitkins.server.infrastructure.persistence.model.RunnerEntity">
    update runner
    <set>
      <if test="token != null">
        TOKEN = #{token,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null">
        IP_ADDRESS = #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="lastHeartbeatAt != null">
        LAST_HEARTBEAT_AT = #{lastHeartbeatAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.jgitkins.server.infrastructure.persistence.model.RunnerEntity">
    update runner
    set TOKEN = #{token,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      IP_ADDRESS = #{ipAddress,jdbcType=VARCHAR},
      LAST_HEARTBEAT_AT = #{lastHeartbeatAt,jdbcType=TIMESTAMP},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>